
/*.bg-nav{
     /*background: #f12711;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
/*}*/

.container{
    border: 2px solid black;
    margin-top:  80px;
}
.navbar{
    margin-left: 700px;
    font-weight: 300;
}
.card-body
{
    border: 2px solid black;
}
.card-body-register
{
    border-radius: 10px;
    border: 2px solid red;
    padding-left: 10px;
    padding-right: 10px;
   
}
.container-register{
    margin-left: 300px;
}